In [187]:
import pandas as pd
df=pd.read_excel(r"C:\Users\mdfai\Downloads\Excel Data\Customer Call List.xlsx")

In [193]:
df=df.drop_duplicates()

In [197]:
df=df.drop(columns="Not_Useful_Column")

In [201]:
df["Last_Name"]=df["Last_Name"].str.lstrip("/,...")

In [205]:
df["Last_Name"]=df["Last_Name"].str.rstrip("_")

In [209]:
df["Paying Customer"]=df["Paying Customer"].replace("Yes","Y")

In [213]:
df["Paying Customer"]=df["Paying Customer"].replace("No","N")

In [217]:
df["Paying Customer"]=df["Paying Customer"].replace("N/a","")

In [221]:
df["Do_Not_Contact"]=df["Do_Not_Contact"].replace("Yes","Y")

In [225]:
df["Do_Not_Contact"]=df["Do_Not_Contact"].replace("No","N")

In [249]:
df["Phone_Number"]=df["Phone_Number"].replace("N/a","")

In [257]:
df["Phone_Number"]=df["Phone_Number"].replace("/","-")

In [261]:
df["Phone_Number"]=df["Phone_Number"].replace("|","-")

In [311]:
df["Phone_Number"]=df["Phone_Number"].replace("0-9","-")

In [329]:
df=df.drop(columns="Phone_Number")

In [345]:
df=df.fillna('')

In [347]:
df

,CustomerID,First_Name,Last_Name,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,"123 Shire Lane, Shire",Y,N
1,1002,Abed,Nadir,93 West Main Street,N,Y
2,1003,Walter,White,298 Drugs Driveway,N,
3,1004,Dwight,Schrute,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,Jon,Snow,123 Dragons Road,Y,N
5,1006,Ron,Swanson,768 City Parkway,Y,Y
6,1007,Jeff,Winger,1209 South Street,N,N
7,1008,Sherlock,Holmes,98 Clue Drive,N,N
8,1009,Gandalf,,123 Middle Earth,Y,
9,1010,Peter,Parker,"25th Main Street, New York",Y,N
10,1011,Samwise,Gamgee,"612 Shire Lane, Shire",Y,N
11,1012,Harry,Potter,2394 Hogwarts Avenue,Y,
12,1013,Don,Draper,2039 Main Street,Y,N
13,1014,Leslie,Knope,343 City Parkway,Y,N
14,1015,Toby,Flenderson,214 HR Avenue,N,N
15,1016,Ron,Weasley,2395 Hogwarts Avenue,N,N
16,1017,Michael,Scott,"121 Paper Avenue, Pennsylvania",Y,N
17,1018,Clark,Kent,3498 Super Lane,Y,
18,1019,Creed,Braton,,,Y
19,1020,Anakin,Skywalker,"910 Tatooine Road, Tatooine",Y,N

In [349]:
for x in df.index:
    if df.loc[x,"Do_Not_Contact"]== '':
        df.drop(x, inplace=True)
df

,CustomerID,First_Name,Last_Name,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,"123 Shire Lane, Shire",Y,N
1,1002,Abed,Nadir,93 West Main Street,N,Y
3,1004,Dwight,Schrute,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,Jon,Snow,123 Dragons Road,Y,N
5,1006,Ron,Swanson,768 City Parkway,Y,Y
6,1007,Jeff,Winger,1209 South Street,N,N
7,1008,Sherlock,Holmes,98 Clue Drive,N,N
9,1010,Peter,Parker,"25th Main Street, New York",Y,N
10,1011,Samwise,Gamgee,"612 Shire Lane, Shire",Y,N
12,1013,Don,Draper,2039 Main Street,Y,N
13,1014,Leslie,Knope,343 City Parkway,Y,N
14,1015,Toby,Flenderson,214 HR Avenue,N,N
15,1016,Ron,Weasley,2395 Hogwarts Avenue,N,N
16,1017,Michael,Scott,"121 Paper Avenue, Pennsylvania",Y,N
18,1019,Creed,Braton,,,Y
19,1020,Anakin,Skywalker,"910 Tatooine Road, Tatooine",Y,N

In [362]:
for x in df.index:
    if df.loc[x,"Paying Customer"]== '':
        df.drop(x, inplace=True)
df

,CustomerID,First_Name,Last_Name,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,"123 Shire Lane, Shire",Y,N
1,1002,Abed,Nadir,93 West Main Street,N,Y
3,1004,Dwight,Schrute,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,Jon,Snow,123 Dragons Road,Y,N
5,1006,Ron,Swanson,768 City Parkway,Y,Y
6,1007,Jeff,Winger,1209 South Street,N,N
7,1008,Sherlock,Holmes,98 Clue Drive,N,N
9,1010,Peter,Parker,"25th Main Street, New York",Y,N
10,1011,Samwise,Gamgee,"612 Shire Lane, Shire",Y,N
12,1013,Don,Draper,2039 Main Street,Y,N
13,1014,Leslie,Knope,343 City Parkway,Y,N
14,1015,Toby,Flenderson,214 HR Avenue,N,N
15,1016,Ron,Weasley,2395 Hogwarts Avenue,N,N
16,1017,Michael,Scott,"121 Paper Avenue, Pennsylvania",Y,N
19,1020,Anakin,Skywalker,"910 Tatooine Road, Tatooine",Y,N

In [372]:
df=df.reset_index(drop=True)

In [374]:
df

,CustomerID,First_Name,Last_Name,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,"123 Shire Lane, Shire",Y,N
1,1002,Abed,Nadir,93 West Main Street,N,Y
2,1004,Dwight,Schrute,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
3,1005,Jon,Snow,123 Dragons Road,Y,N
4,1006,Ron,Swanson,768 City Parkway,Y,Y
5,1007,Jeff,Winger,1209 South Street,N,N
6,1008,Sherlock,Holmes,98 Clue Drive,N,N
7,1010,Peter,Parker,"25th Main Street, New York",Y,N
8,1011,Samwise,Gamgee,"612 Shire Lane, Shire",Y,N
9,1013,Don,Draper,2039 Main Street,Y,N
10,1014,Leslie,Knope,343 City Parkway,Y,N
11,1015,Toby,Flenderson,214 HR Avenue,N,N
12,1016,Ron,Weasley,2395 Hogwarts Avenue,N,N
13,1017,Michael,Scott,"121 Paper Avenue, Pennsylvania",Y,N
14,1020,Anakin,Skywalker,"910 Tatooine Road, Tatooine",Y,N